@font-face {
  font-family: sinisuka;
  src: url(assets/Sinisuka.otf) format("opentype");
}

@font-face {
  font-family: sinisuka-swashes;
  src: url(assets/SinisukaSwashes-Regular.otf) format("opentype");
}
