@import "variables";

* {
  font-family: "poppins-regular", sans-serif;
}

.sinisuka {
  font-family: 'sinisuka', 'arial', sans-serif;
}

.primary-background {
  background-color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

html {
  height: 100%;
  background-color: $html-background-color;
}

body {
  height: 100%;
  color: $color-on-background;
  margin: 0 !important;
}

div {
  color: $color-on-background !important;
}

div.p-card.p-component {
  background-color: $background-color;
}

button.p-element.p-button.p-component {
  background: $button-background-color;
  border: $button-background-color;
}

span .p-calendar {
  width: 100% !important;
}

.p-component.p-datepicker {
  background-color: $background-color !important;
}

div.p-datepicker-header {
  background-color: $background-color !important;
}

.p-datepicker-title > button {
  color: $color-on-background !important;
}

.p-float-label input.p-filled ~ label {
  color: $color-on-background !important;
}

.p-float-label input:focus ~ label {
  color: $color-on-background !important;
}

.p-float-label .p-inputwrapper-filled ~ label {
  color: $color-on-background !important;
}

a:visited {
  color: white;
}
